<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.AttributeMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.bean.entity.AttributeDO">
        <id column="id" property="id"/>
        <result column="entity_id" property="entity_id"/>
        <result column="view_id" property="view_id"/>
        <result column="name" property="name"/>
        <result column="data_type" property="data_type"/>
        <result column="is_primary" property="is_primary"/>
        <result column="is_foreign" property="is_foreign"/>
        <result column="is_delete" property="is_delete"/>
        <result column="gmt_create" property="gmt_create"/>
        <result column="gmt_modefied" property="gmt_modefied"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, entity_id, view_id, name, data_type, is_primary, is_foreign
    </sql>

    <select id="selectById" parameterType="java.lang.Long">
        select
        id,entity_id,view_id,name,data_type,is_primary,is_foreign,is_delete,gmt_create,gmt_modefied
        from attributeDO
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByAttribute" parameterType="com.ic.er.bean.entity.AttributeDO">
        select
        id,entity_id,view_id,name,data_type,is_primary,is_foreign,is_delete,gmt_create,gmt_modefied
        from attributeDO
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="entity_id != null">
                and entity_id = #{entity_id,jdbcType=BIGINT}
            </if>
            <if test="view_id != null">
                and view_id = #{view_id,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="data_type != null">
                and data_type = #{data_type,jdbcType=VARCHAR}
            </if>
            <if test="is_primary != null">
                and is_primary = #{is_primary,jdbcType=TINYINT}
            </if>
            <if test="is_foreign != null">
                and is_foreign = #{is_foreign,jdbcType=TINYINT}
            </if>
            <if test="is_delete != null">
                and is_delete = #{is_delete,jdbcType=TINYINT}
            </if>
            <if test="gmt_create != null">
                and gmt_create = #{gmt_create,jdbcType=DATETIME}
            </if>
            <if test="gmt_modefied != null">
                and gmt_modefied = #{gmt_modefied,jdbcType=DATETIME}
            </if>
        </where>
    </select>

    <insert id="insert" parameterType="com.ic.er.bean.entityDO.AttributeDO">
        insert into attributeDO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="entity_id != null">
                entity_id,
            </if>
            <if test="view_id != null">
                view_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="data_type != null">
                data_type,
            </if>
            <if test="is_primary != null">
                is_primary,
            </if>
            <if test="is_foreign != null">
                is_foreign,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="entity_id != null">
                #{entity_id,jdbcType=BIGINT},
            </if>
            <if test="view_id != null">
                #{view_id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="data_type != null">
                #{data_type,jdbcType=VARCHAR},
            </if>
            <if test="is_primary != null">
                #{is_primary,jdbcType=TINYINT},
            </if>
            <if test="is_foreign != null">
                #{is_foreign,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from attributeDO
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </delete>

    <update id="updateById" parameterType="com.ic.er.bean.entityDO.AttributeDO">
        update attributeDO
        <set>
            <if test="entity_id != null">
                entity_id = #{entity_id,jdbcType=BIGINT},
            </if>
            <if test="view_id != null">
                view_id = #{view_id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="data_type != null">
                data_type = #{data_type,jdbcType=VARCHAR},
            </if>
            <if test="is_primary != null">
                is_primary = #{is_primary,jdbcType=TINYINT},
            </if>
            <if test="is_foreign != null">
                is_foreign = #{is_foreign,jdbcType=TINYINT},
            </if>
            <if test="is_delete != null">
                is_delete = #{is_delete,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>