<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.AttributeMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.entity.AttributeDO">
        <id column="id" property="ID"/>
        <result column="belong_obj_id" property="belongObjId"/>
        <result column="schema_id" property="schemaID"/>
        <result column="name" property="name"/>
        <result column="data_type" property="dataType"/>
        <result column="is_primary" property="isPrimary"/>
        <result column="nullable" property="nullable"/>
        <result column="aim_port" property="aimPort"/>
        <result column="belong_obj_type" property="belongObjType"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, belong_obj_id, schema_id, name, data_type, is_primary, nullable, aim_port, belong_obj_type
    </sql>

    <select id="selectByID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        id,belong_obj_id,schema_id,name,data_type,is_primary,nullable,aim_port,belong_obj_type,is_delete,gmt_create,gmt_modified
        from attribute
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByAttribute" parameterType="com.ic.er.entity.AttributeDO" resultMap="BaseResultMap">
        select
        id,belong_obj_id,schema_id,name,data_type,is_primary,nullable,aim_port,belong_obj_type,is_delete,gmt_create,gmt_modified
        from attribute
        <where>
            <if test="ID != null">
                and id = #{ID,jdbcType=BIGINT}
            </if>
            <if test="belongObjId != null">
                and belong_obj_id = #{belongObjId,jdbcType=BIGINT}
            </if>
            <if test="schemaID != null">
                and schema_id = #{schemaID,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="dataType != null">
                and data_type = #{dataType,jdbcType=VARCHAR}
            </if>
            <if test="isPrimary != null">
                and is_primary = #{isPrimary,jdbcType=TINYINT}
            </if>
            <if test="nullable != null">
                and nullable = #{nullable,jdbcType=TINYINT}
            </if>
            <if test="aimPort != null">
                and aim_port = #{aimPort,jdbcType=SMALLINT}
            </if>
            <if test="belongObjType != null">
                and belong_obj_type = #{belongObjType.value,jdbcType=SMALLINT}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate,jdbcType=DATETIME}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=DATETIME}
            </if>
            and is_delete = 0
        </where>
    </select>

    <insert id="insert" parameterType="com.ic.er.entity.AttributeDO" useGeneratedKeys="true" keyProperty="ID">
        insert into attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="belongObjId != null">
                belong_obj_id,
            </if>
            <if test="schemaID != null">
                schema_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="isPrimary != null">
                is_primary,
            </if>
            <if test="nullable != null">
                nullable,
            </if>
            <if test="aimPort != null">
                aim_port,
            </if>
            <if test="belongObjType != null">
                belong_obj_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="belongObjId != null">
                #{belongObjId,jdbcType=BIGINT},
            </if>
            <if test="schemaID != null">
                #{schemaID,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="isPrimary != null">
                #{isPrimary,jdbcType=TINYINT},
            </if>
            <if test="nullable != null">
                #{nullable,jdbcType=TINYINT},
            </if>
            <if test="aimPort != null">
                #{aimPort,jdbcType=SMALLINT},
            </if>
            <if test="belongObjType != null">
                #{belongObjType.value,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>

    <update id="deleteByID" parameterType="java.lang.Long">
        update attribute set
        is_delete = 1
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateByID" parameterType="com.ic.er.entity.AttributeDO">
        update attribute
        <set>
            <if test="belongObjId != null">
                belong_obj_id = #{belongObjId,jdbcType=BIGINT},
            </if>
            <if test="schemaID != null">
                schema_id = #{schemaID,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="isPrimary != null">
                is_primary = #{isPrimary,jdbcType=TINYINT},
            </if>
            <if test="nullable != null">
                nullable = #{nullable,jdbcType=TINYINT},
            </if>
            <if test="aimPort != null">
                aim_port = #{aimPort,jdbcType=SMALLINT},
            </if>
            <if test="belongObjType != null">
                belong_obj_type = #{belongObjType.value,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>
</mapper>