<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.AttributeMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.dto.entity.AttributeDO">
        <id column="id" property="ID"/>
        <result column="entity_id" property="entityID"/>
        <result column="view_id" property="viewID"/>
        <result column="name" property="name"/>
        <result column="data_type" property="dataType"/>
        <result column="is_primary" property="isPrimary"/>
        <result column="is_foreign" property="isForeign"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, entity_id, view_id, name, data_type, is_primary, is_foreign
    </sql>

    <select id="selectByID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        id,entity_id,view_id,name,data_type,is_primary,is_foreign,is_delete,gmt_create,gmt_modified
        from attribute
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByAttribute" parameterType="com.ic.er.dto.entity.AttributeDO" resultMap="BaseResultMap">
        select
        id,entity_id,view_id,name,data_type,is_primary,is_foreign,is_delete,gmt_create,gmt_modified
        from attribute
        <where>
            <if test="ID != null">
                and id = #{ID,jdbcType=BIGINT}
            </if>
            <if test="entityID != null">
                and entity_id = #{entityID,jdbcType=BIGINT}
            </if>
            <if test="viewID != null">
                and view_id = #{viewID,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="dataType != null">
                and data_type = #{dataType,jdbcType=VARCHAR}
            </if>
            <if test="isPrimary != null">
                and is_primary = #{isPrimary,jdbcType=TINYINT}
            </if>
            <if test="isForeign != null">
                and is_foreign = #{isForeign,jdbcType=TINYINT}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate,jdbcType=DATETIME}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=DATETIME}
            </if>
            and is_delete = 0
        </where>
    </select>

    <insert id="insert" parameterType="com.ic.er.dto.entity.AttributeDO" useGeneratedKeys="true" keyProperty="ID">
        insert into attribute
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="entityID != null">
                entity_id,
            </if>
            <if test="viewID != null">
                view_id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="dataType != null">
                data_type,
            </if>
            <if test="isPrimary != null">
                is_primary,
            </if>
            <if test="isForeign != null">
                is_foreign,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="entityID != null">
                #{entityID,jdbcType=BIGINT},
            </if>
            <if test="viewID != null">
                #{viewID,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="isPrimary != null">
                #{isPrimary,jdbcType=TINYINT},
            </if>
            <if test="isForeign != null">
                #{isForeign,jdbcType=TINYINT},
            </if>
        </trim>
    </insert>

    <update id="deleteByID" parameterType="java.lang.Long">
        update attribute set
            is_delete = 1
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateByID" parameterType="com.ic.er.dto.entity.AttributeDO">
        update attribute
        <set>
            <if test="entityID != null">
                entity_id = #{entityID,jdbcType=BIGINT},
            </if>
            <if test="viewID != null">
                view_id = #{viewID,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="dataType != null">
                data_type = #{dataType,jdbcType=VARCHAR},
            </if>
            <if test="isPrimary != null">
                is_primary = #{isPrimary,jdbcType=TINYINT},
            </if>
            <if test="isForeign != null">
                is_foreign = #{isForeign,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>
</mapper>