<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.EntityMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.bean.entityDO.EntityDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="view_id" property="view_id"/>
        <result column="is_delete" property="is_delete"/>
        <result column="gmt_create" property="gmt_create"/>
        <result column="gmt_modefied" property="gmt_modefied"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, view_id
    </sql>

    <select id="selectById" parameterType="java.lang.Long">
        select
            id,name,view_id,is_delete,gmt_create,gmt_modefied
        from entityDO
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByEntity" parameterType="com.ic.er.bean.entityDO.EntityDO">
        select
        id,name,view_id,is_delete,gmt_create,gmt_modefied
        from entityDO
        where
        <trim suffixOverrides=",">
            <if test="id != null">
                id = #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="view_id != null">
                view_id = #{view_id,jdbcType=BIGINT},
            </if>
            <if test="is_delete != null">
                is_delete = #{is_delete,jdbcType=TINYINT},
            </if>
            <if test="gmt_create != null">
                gmt_create = #{gmt_create,jdbcType=DATETIME},
            </if>
            <if test="gmt_modefied != null">
                gmt_modefied = #{gmt_modefied,jdbcType=DATETIME},
            </if>
        </trim>
    </select>

    <insert id="insert" parameterType="com.ic.er.bean.entityDO.EntityDO">
        insert into entityDO
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="name != null">
                name,
            </if>
            <if test="view_id != null">
                view_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="view_id != null">
                #{view_id,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <delete id="deleteById" parameterType="java.lang.Long">
        delete from entityDO
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </delete>

    <update id="updateById" parameterType="com.ic.er.bean.entityDO.EntityDO">
        update entityDO
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="view_id != null">
                view_id = #{view_id,jdbcType=BIGINT},
            </if>
            <if test="is_delete != null">
                is_delete = #{is_delete,jdbcType=TINYINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT}
    </update>
</mapper>