<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.EntityMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.entity.EntityDO">
        <id column="id" property="ID"/>
        <result column="name" property="name"/>
        <result column="schema_id" property="schemaID"/>
        <result column="aim_port" property="aimPort"/>
        <result column="entity_type" property="entityType"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, schema_id, aim_port, entity_type
    </sql>

    <select id="selectByID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        id,name,schema_id,aim_port,entity_type,is_delete,gmt_create,gmt_modified
        from entity
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByEntity" parameterType="com.ic.er.entity.EntityDO" resultMap="BaseResultMap">
        select
        id,name,schema_id,aim_port,entity_type,is_delete,gmt_create,gmt_modified
        from entity
        <where>
            <if test="ID != null">
                and id = #{ID,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="schemaID != null">
                and schema_id = #{schemaID,jdbcType=BIGINT}
            </if>
            <if test="aimPort != null">
                and aim_port = #{aimPort,jdbcType=SMALLINT}
            </if>
            <if test="entityType != null">
                and entity_type = #{entityType.value,jdbcType=SMALLINT}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate,jdbcType=DATETIME}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=DATETIME}
            </if>
            and is_delete = 0
        </where>
    </select>

    <insert id="insert" parameterType="com.ic.er.entity.EntityDO" useGeneratedKeys="true" keyProperty="ID">
        insert into entity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="schemaID != null">
                schema_id,
            </if>
            <if test="aimPort != null">
                aim_port,
            </if>
            <if test="entityType != null">
                entity_type,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="schemaID != null">
                #{schemaID,jdbcType=BIGINT},
            </if>
            <if test="aimPort != null">
                #{aimPort,jdbcType=SMALLINT},
            </if>
            <if test="entityType != null">
                #{entityType.value,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>

    <update id="deleteByID" parameterType="java.lang.Long">
        update entity set
        is_delete = 1
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateByID" parameterType="com.ic.er.entity.EntityDO">
        update entity
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="schemaID != null">
                schema_id = #{schemaID,jdbcType=BIGINT},
            </if>
            <if test="aimPort != null">
                aim_port = #{aimPort,jdbcType=SMALLINT},
            </if>
            <if test="entityType != null">
                entity_type = #{entityType.value,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>
</mapper>