<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.EntityMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.entity.EntityDO">
        <id column="id" property="ID"/>
        <result column="name" property="name"/>
        <result column="view_id" property="viewID"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, view_id
    </sql>

    <select id="selectByID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            id,name,view_id,is_delete,gmt_create,gmt_modified
        from entity
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByEntity" parameterType="com.ic.er.entity.EntityDO" resultMap="BaseResultMap">
        select
        id,name,view_id,is_delete,gmt_create,gmt_modified
        from entity
        <where>
            <if test="ID != null">
                and id = #{ID,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="viewID != null">
                and view_id = #{viewID,jdbcType=BIGINT}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate,jdbcType=DATETIME}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=DATETIME}
            </if>
            and is_delete = 0
        </where>
    </select>

    <insert id="insert" parameterType="com.ic.er.entity.EntityDO" useGeneratedKeys="true" keyProperty="ID">
        insert into entity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="viewID != null">
                view_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="viewID != null">
                #{viewID,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="deleteByID" parameterType="java.lang.Long">
        update entity set
            is_delete = 1
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateByID" parameterType="com.ic.er.entity.EntityDO">
        update entity
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="viewID != null">
                view_id = #{viewID,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>
</mapper>