<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.RelationshipMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.bean.entity.GraphInfoDO">
        <id column="id" property="id"/>
        <result column="related_obj_id" property="relatedObjId"/>
        <result column="layout_x" property="layoutX"/>
        <result column="layout_y" property="layoutY"/>
        <result column="width" property="width"/>
        <result column="height" property="height"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, related_obj_id, layout_x, layout_y, width, height
    </sql>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            id, related_obj_id,layout_x,layout_y,width,height,is_delete,gmt_create,gmt_modified
        from graph_info
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByRelatedObjId" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
            id, related_obj_id,layout_x,layout_y,width,height,is_delete,gmt_create,gmt_modified
        from graph_info
        where related_obj_id = #{relatedObjId,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByGraphInfo" parameterType="com.ic.er.bean.entity.GraphInfoDO" resultMap="BaseResultMap">
        select
        id, related_obj_id,layout_x,layout_y,width,height,is_delete,gmt_create,gmt_modified
        from graph_info
        <where>
            <if test="id != null">
                and id = #{id,jdbcType=BIGINT}
            </if>
            <if test="related_obj_id != null">
                and related_obj_id = #{relatedObjId,jdbcType=BIGINT}
            </if>
            <if test="layout_x != null">
                and layout_x = #{layoutX,jdbcType=NUMERIC}
            </if>
            <if test="layout_y != null">
                and layout_y = #{layoutY,jdbcType=NUMERIC}
            </if>
            <if test="width != null">
                and width = #{width,jdbcType=NUMERIC}
            </if>
            <if test="height != null">
                and height = #{height,jdbcType=NUMERIC}
            </if>
            and is_delete = 0
        </where>
    </select>

    <insert id="insert" parameterType="com.ic.er.bean.entity.GraphInfoDO">
        insert into graph_info
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">
                id,
            </if>
            <if test="related_obj_id != null">
                related_obj_id,
            </if>
            <if test="layout_x != null">
                layout_x,
            </if>
            <if test="layout_y != null">
                layout_y,
            </if>
            <if test="width != null">
                width,
            </if>
            <if test="height != null">
                height,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">
                #{id,jdbcType=BIGINT},
            </if>
            <if test="related_obj_id != null">
                #{relatedObjId,jdbcType=BIGINT}
            </if>
            <if test="layout_x != null">
                #{layoutX,jdbcType=NUMERIC}
            </if>
            <if test="layout_y != null">
                #{layoutY,jdbcType=NUMERIC}
            </if>
            <if test="width != null">
                #{width,jdbcType=NUMERIC}
            </if>
            <if test="height != null">
                #{height,jdbcType=NUMERIC}
            </if>
        </trim>
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        update graph_info set
            is_delete = 1
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="deleteById" parameterType="java.lang.Long">
        update graph_info set
            is_delete = 1
        where related_obj_id = #{relatedObjId,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateById" parameterType="com.ic.er.bean.entity.GraphInfoDO">
        update relationship
        <set>
            <if test="layout_x != null">
                layout_x = #{layoutX,jdbcType=NUMERIC},
            </if>
            <if test="layout_y != null">
                layout_y = #{layoutY,jdbcType=NUMERIC},
            </if>
            <if test="width != null">
                width = #{width,jdbcType=NUMERIC},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=NUMERIC},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateByObjId" parameterType="com.ic.er.bean.entity.GraphInfoDO">
        update relationship
        <set>
            <if test="layout_x != null">
                layout_x = #{layoutX,jdbcType=NUMERIC},
            </if>
            <if test="layout_y != null">
                layout_y = #{layoutY,jdbcType=NUMERIC},
            </if>
            <if test="width != null">
                width = #{width,jdbcType=NUMERIC},
            </if>
            <if test="height != null">
                height = #{height,jdbcType=NUMERIC},
            </if>
        </set>
        where related_obj_id = #{relatedObjId,jdbcType=BIGINT} and is_delete = 0
    </update>
</mapper>