<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.RelationshipMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.entity.RelationshipDO">
        <id column="id" property="ID"/>
        <result column="name" property="name"/>
        <result column="schema_id" property="schemaID"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, schema_id
    </sql>

    <select id="selectByID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        id,name,schema_id,is_delete,gmt_create,gmt_modified
        from relationship
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByRelationship" parameterType="com.ic.er.entity.RelationshipDO" resultMap="BaseResultMap">
        select
        id,name,schema_id,is_delete,gmt_create,gmt_modified
        from relationship
        <where>
            <if test="ID != null">
                and id = #{ID,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="schemaID != null">
                and schema_id = #{schemaID,jdbcType=BIGINT}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate,jdbcType=DATETIME}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=DATETIME}
            </if>
            and is_delete = 0
        </where>
    </select>

    <insert id="insert" parameterType="com.ic.er.entity.RelationshipDO" useGeneratedKeys="true" keyProperty="ID">
        insert into relationship
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="schemaID != null">
                schema_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="schemaID != null">
                #{schemaID,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="deleteByID" parameterType="java.lang.Long">
        update relationship set
        is_delete = 1
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateByID" parameterType="com.ic.er.entity.RelationshipDO">
        update relationship
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="schemaID != null">
                schema_id = #{schemaID,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>
</mapper>