<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="io.github.MigadaTang.dao.RelationshipEdgeMapper">

    <resultMap id="BaseResultMap" type="io.github.MigadaTang.entity.RelationshipEdgeDO">
        <id column="id" property="ID"/>
        <result column="relationship_id" property="relationshipID"/>
        <result column="schema_id" property="schemaID"/>
        <result column="belong_obj_id" property="belongObjID"/>
        <result column="belong_obj_type" property="belongObjType"/>
        <result column="cardinality" property="cardinality"/>
        <result column="is_key" property="isKey"/>
        <result column="port_at_relationship" property="portAtRelationship"/>
        <result column="port_at_belong_obj" property="portAtBelongObj"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, relationship_id, schema_id, belong_obj_id,belong_obj_type, cardinality, is_key, port_at_relationship,
        port_at_belong_obj
    </sql>

    <select id="selectByID" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        id,relationship_id,schema_id,belong_obj_id,belong_obj_type,cardinality,is_key,port_at_relationship,port_at_belong_obj,is_delete,gmt_create,gmt_modified
        from relationship_edge
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </select>

    <select id="selectByRelationshipEdge" parameterType="io.github.MigadaTang.entity.RelationshipEdgeDO"
            resultMap="BaseResultMap">
        select
        id,relationship_id,schema_id,belong_obj_id,belong_obj_type,cardinality,is_key,port_at_relationship,port_at_belong_obj,is_delete,gmt_create,gmt_modified
        from relationship_edge
        <where>
            <if test="ID != null">
                and id = #{ID,jdbcType=BIGINT}
            </if>
            <if test="relationshipID != null">
                and relationship_id = #{relationshipID,jdbcType=BIGINT}
            </if>
            <if test="schemaID != null">
                and schema_id = #{schemaID,jdbcType=BIGINT}
            </if>
            <if test="belongObjID != null">
                and belong_obj_id = #{belongObjID,jdbcType=BIGINT}
            </if>
            <if test="belongObjType != null">
                and belong_obj_type = #{belongObjType.value,jdbcType=SMALLINT}
            </if>
            <if test="cardinality != null">
                and cardinality = #{cardinality.code,jdbcType=SMALLINT}
            </if>
            <if test="isKey != null">
                and is_key = #{isKey,jdbcType=TINYINT},
            </if>
            <if test="portAtRelationship != null">
                and port_at_relationship = #{portAtRelationship,jdbcType=SMALLINT}
            </if>
            <if test="portAtBelongObj != null">
                and port_at_belong_obj = #{portAtBelongObj,jdbcType=SMALLINT}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate,jdbcType=DATETIME}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=DATETIME}
            </if>
            and is_delete = 0
        </where>
    </select>

    <select id="groupCountEntityNum"
            resultType="org.apache.commons.collections4.map.CaseInsensitiveMap">
        select RELATIONSHIP_ID, count(*) as belong_obj_num from relationship_edge
        where is_delete = 0 and belong_obj_id in
        <foreach item="belongObjID" index="index" collection="belongObjIDList"
                 open=" (" separator="," close=")">
            #{belongObjID,jdbcType=BIGINT}
        </foreach>
        <if test="belongObjType != null">
            and belong_obj_type = #{belongObjType.value,jdbcType=SMALLINT}
        </if>
        group by relationship_id
        order by belong_obj_num desc
    </select>

    <insert id="insert" parameterType="io.github.MigadaTang.entity.RelationshipEdgeDO" useGeneratedKeys="true"
            keyProperty="ID">
        insert into relationship_edge
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="relationshipID != null">
                relationship_id,
            </if>
            <if test="schemaID != null">
                schema_id,
            </if>
            <if test="belongObjID != null">
                belong_obj_id,
            </if>
            <if test="belongObjType != null">
                belong_obj_type,
            </if>
            <if test="cardinality != null">
                cardinality,
            </if>
            <if test="isKey != null">
                is_key,
            </if>
            <if test="portAtRelationship != null">
                port_at_relationship,
            </if>
            <if test="portAtBelongObj != null">
                port_at_belong_obj,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="relationshipID != null">
                #{relationshipID,jdbcType=BIGINT},
            </if>
            <if test="schemaID != null">
                #{schemaID,jdbcType=BIGINT},
            </if>
            <if test="belongObjID != null">
                #{belongObjID,jdbcType=BIGINT},
            </if>
            <if test="belongObjType != null">
                #{belongObjType.value,jdbcType=SMALLINT},
            </if>
            <if test="cardinality != null">
                #{cardinality.code,jdbcType=SMALLINT},
            </if>
            <if test="isKey != null">
                #{isKey,jdbcType=TINYINT},
            </if>
            <if test="portAtRelationship != null">
                #{portAtRelationship,jdbcType=SMALLINT},
            </if>
            <if test="portAtBelongObj != null">
                #{portAtBelongObj,jdbcType=SMALLINT},
            </if>
        </trim>
    </insert>

    <update id="deleteByID" parameterType="java.lang.Long">
        update relationship_edge set
        is_delete = 1
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateByID" parameterType="io.github.MigadaTang.entity.RelationshipEdgeDO">
        update relationship_edge
        <set>
            <if test="relationshipID != null">
                relationship_id = #{relationshipID,jdbcType=BIGINT},
            </if>
            <if test="schemaID != null">
                schema_id = #{schemaID,jdbcType=BIGINT},
            </if>
            <if test="belongObjID != null">
                belong_obj_id = #{belongObjID,jdbcType=BIGINT},
            </if>
            <if test="belongObjType != null">
                belong_obj_type = #{belongObjType.value,jdbcType=SMALLINT},
            </if>
            <if test="cardinality != null">
                cardinality = #{cardinality.code,jdbcType=SMALLINT},
            </if>
            <if test="isKey != null">
                is_key = #{isKey,jdbcType=TINYINT},
            </if>
            <if test="portAtRelationship != null">
                port_at_relationship = #{portAtRelationship,jdbcType=SMALLINT},
            </if>
            <if test="portAtBelongObj != null">
                port_at_belong_obj = #{portAtBelongObj,jdbcType=SMALLINT},
            </if>
        </set>
        where id = #{ID,jdbcType=BIGINT} and is_delete = 0
    </update>
</mapper>