<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.ViewMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.bean.entity.View">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="creator" property="creator"/>
        <result column="is_delete" property="is_delete"/>
        <result column="gmt_create" property="gmt_create"/>
        <result column="gmt_modefied" property="gmt_modefied"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, creator
    </sql>

</mapper>