<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ic.er.dao.ViewMapper">

    <resultMap id="BaseResultMap" type="com.ic.er.bean.entity.ViewDO">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="creator" property="creator"/>
        <result column="parent_id" property="parentId"/>
        <result column="is_delete" property="isDelete"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, creator, parent_id
    </sql>

    <select id="selectAll" resultMap="BaseResultMap">
        select
        id,name,creator,parent_id,is_delete,gmt_create,gmt_modified
        from view where is_delete = 0
    </select>

    <select id="selectByView" parameterType="com.ic.er.bean.entity.ViewDO" resultMap="BaseResultMap">
        select
        id,name,creator,parent_id,is_delete,gmt_create,gmt_modified
        from view
        <where>
            <if test="id != null">
                id = #{id,jdbcType=BIGINT}
            </if>
            <if test="name != null">
                and name = #{name,jdbcType=VARCHAR}
            </if>
            <if test="creator != null">
                and creator = #{creator,jdbcType=VARCHAR}
            </if>
            <if test="parentId != null">
                and parent_id = #{parentId,jdbcType=BIGINT}
            </if>
            <if test="gmtCreate != null">
                and gmt_create = #{gmtCreate,jdbcType=DATETIME}
            </if>
            <if test="gmtModified != null">
                and gmt_modified = #{gmtModified,jdbcType=DATETIME}
            </if>
            and is_delete = 0
        </where>
    </select>

    <select id="selectById" parameterType="java.lang.Long" resultMap="BaseResultMap">
        select
        id,name,creator,parent_id,is_delete,gmt_create,gmt_modified
        from view
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </select>
    
    <insert id="insert" parameterType="com.ic.er.bean.entity.ViewDO" useGeneratedKeys="true" keyProperty="id">
        insert into view
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="name != null">
                name,
            </if>
            <if test="creator != null">
                creator,
            </if>
            <if test="parentId != null">
                parent_id,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="name != null">
                #{name,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                #{creator,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                #{parentId,jdbcType=BIGINT},
            </if>
        </trim>
    </insert>

    <update id="deleteById" parameterType="java.lang.Long">
        update view set
        is_delete = 1
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </update>

    <update id="updateById" parameterType="com.ic.er.bean.entity.ViewDO">
        update view
        <set>
            <if test="name != null">
                name = #{name,jdbcType=VARCHAR},
            </if>
            <if test="creator != null">
                creator = #{creator,jdbcType=VARCHAR},
            </if>
            <if test="parentId != null">
                parent_id = #{parentId,jdbcType=BIGINT},
            </if>
        </set>
        where id = #{id,jdbcType=BIGINT} and is_delete = 0
    </update>

</mapper>